@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/background.jpg");
    font-family: 'Quicksand', sans-serif;
}

.credits { 
    color: white;
}

.calendar-box {
    width: 50vw;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
}

.boldify {
    font-weight: 700;
}

.current-date {
    color: white;
    font-size: 50px;
    margin-top: 70px;
}

.days {
    font-size: 20px;
}